/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-1 {
  margin:1em;
}

.bb {
  border-bottom: 1px solid #eee;
}

.cards-container {
  justify-content: space-between;
  display: block;
  padding: 1.4em;
  box-sizing: content-box;
  flex-wrap: wrap;
  max-width: 100%;

}

.cardFormat {
  width:42%;
  float: left;
  border: 1px solid #ddd;
  margin: 1em;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #eeeeee 52%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%, #eeeeee 52%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%, #eeeeee 52%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
}

.mainHeader {
  margin: 1em 1em 1em 0.8em;
  font-weight: bold;
  position: relative;
}

.positionRight {
  position: absolute;
  right:10px;
  cursor: pointer;
}

.subheader {
  margin: 1em 1em 2em 1em;
  padding: 0 0 1em 0;
  font-size: 0.85em;
  border-bottom: 1px solid rgba(199, 199, 199, 0.8);
}

.borderTopDecor {
  border-top: 1px solid rgba(232, 232, 232, 0.84);
  padding-bottom: 2em;
}

.resultStart {
  margin: 0em 0em 1em 1em;
  font-size: 0.9em;
  text-align: left;
  width: 100%;
}

.resultWinsLosses {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-wrap: wrap;
  max-width: 65%;
}

.W {
  background-color: green;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  color: #fff;
  text-align: center;
  padding-top: 0.2em;
  flex: 0 1 1.4em;
  margin-right: 0.25em;
}

.win {
  background-color: green;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  color: #fff;
  text-align: center;
  padding-top: 0.2em;
  flex: 0 1 1.4em;
  margin-right: 0.25em;
}

.L {
  background-color: red;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  color: #fff;
  text-align: center;
  padding-top: 0.2em;
  flex: 0 1 1.4em;
  margin-right: 0.25em;
}

.loss {
  background-color: red;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  color: #fff;
  text-align: center;
  padding-top: 0.2em;
  flex: 0 1 1.4em;
  margin-right: 0.25em;
}

.resultAverage {
  display: flex;
  margin: 0.45em 0 1em 1em;
}


.Parent {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.parentFlex {
  display: flex;
  flex-wrap: wrap;
}

.child {
  float: left;
}

.width-50 {
  width: 49%;
}

.width-100 {
  width:100%;
}

.clear-left {
  clear: left
}


.floatRight {
  float: right;

}

.imgfit {
  max-width: 100%;
  height: auto;
  max-height: 12em;
}


.btnGreen {
  background-color: green;
  color: #fff;
}

.bold {
  font-weight: bold;
}


.btnDecor {
  background-color: #187c26;
  color:#fff;
  padding:1em;
  border: 1px solid #797aff;
  box-shadow: 2px 3px 4px 5px #eee;
  cursor: pointer;

}

.btnDecor:hover {
  margin-top:0.25em;
  animation: pulse-black 1.32s ;
}
@keyframes pulse-black {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.27);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.btnDecor:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
  animation: 1s;
  cursor: wait;
}

.text-center {
  text-align: center;
}

.padTop-2 {
  margin-top: 2em;
  width:20%;

}
.paddingleft-1 {
  padding-left: 1em;
}
.width-3 {
  width:2em;
}

.marginBottom-2 {
  margin-bottom: 2em;
}

.marginLeft-1 {
  margin-left: 0.25em;
}

.marginLeft-2 {
  margin-left: 0.5em;
}
